<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header('All Post')">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<div class="wrapper">
    <nav th:replace="fragments/navbar.html :: navbar"></nav>
    <header class="container my-5">
        <div class="jumbotron">
            <h1 class="text-center display-1">Create a Post</h1>
        </div>

<h1>Create Post</h1>
<form th:action="@{|/breeder-posts/create|}" th:method="POST" th:object="${dogPost}">
    <label for="dogBreed">Enter dog breed.</label>
    <input  type="text" name="title" th:field="*{dogBreed}" placeholder="Enter breed">
    <label for="dogGroup">Enter dog group.</label>
    <input  type="text" name="title" th:field="*{dogGroup}" placeholder="Enter group">
    <label for="dogDescription">Enter dog description</label>
    <textarea name="body" th:field="*{dogDescription}" placeholder="Enter description"></textarea>
    <label for="dogPrice">Enter Price.</label>
    <input  type="text" name="title" th:field="*{dogPrice}" placeholder="Enter Price">
    <button>Save Post</button>
</form>

<th: block th:replace="fragments/scripts.html :: scripts"/>




<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>