<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header.html :: header"></head>
<body>
<nav th:replace="fragments/navbar.html :: visitor-navbar"></nav>
<header class="container my-5"></header>
<div class="jumbotron">
    <h1 class="text-center display-1" id="home">Welcome to MyPup</h1>
</div>
<div class="main-container embed-responsive embed-responsive-4by3">
    <div class="wrapper">
    <main class="container">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/templates/static/images/mypup2.jpg" alt="Card image cap">
                <div class="card-body">
                    <th:block th:each="breederPost : ${breederPosts}">
                        <div>
                            <h3 th:text="${breederPost.dogBreed}"></h3>
                            <p th:text="${breederPost.dogGroup}"></p>
                            <p th:text="${breederPost.dogDescription}"></p>
                            <p th:text="${breederPost.dogPrice}"></p>
                            <h5 th:text="${breederPost.getUser().getEmail()}"></h5>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            <hr>
                        </div>
                    </th:block>
                </div>
        </div>
    </main>
        </div>

</div>
<!--    Checks to see if user is logged in-->
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                &lt;!&ndash;        Checks to see if person who created the post is also the person logged in&ndash;&gt;-->
<!--                <button th:if="${breeder-post.getUser().id == #authentication.getPrincipal().id}" type="submit"><a th:href="@{'/breeder-post/{id}/delete/' + ${breeder-post.getId()}}">Delete Post</a></button>-->
<!--            </div>-->


<th: block th:replace="fragments/scripts.html :: scripts"/>




<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>