<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <title>Viewing Post</title>
</head>
<body>


<nav th:replace="fragments/navbar.html :: breeder-navbar"></nav>

<header class="container my-5">
    <div class="jumbotron-show">
        <h1 class="text-center text-light display-1" id="breeder-posts">Breeder Posts</h1>
    </div>
</header>
<div class="main-container">
    <div class="row">
        <div class="card vh card-body text-center ml-3 mr-3 mb-4" style="width: 18rem;" th:each="breederPost : ${breederPosts}">
            <img class="card-img-top" th:src="${breederPost.images}" alt="Card image cap">
            <h1 th:text="${breederPost.dogBreed}"></h1>
            <p th:text="${breederPost.dogGroup}"></p>
            <p th:text="${breederPost.dogDescription}"></p>
            <p th:text="${breederPost.dogPrice}"></p>
            <form th:action="@{|/breeder-contact/${breederPost.id}|}">
                <button class="btn button-primary info">More info</button>
            </form>
            <br>
                            <div onclick="this.parentNode.submit()" id='heart' class='button'></div>

<!--                    <form th:action="@{|/favorites/${breederPost.id}|}" th:method="POST">-->
<!--                    </form>-->

        </div>
    </div>
</div>

<div th:replace="fragments/scripts.html :: scripts"></div>
<footer th:replace="fragments/footer1.html :: footer1"></footer>
</body>
</html>