<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{|/breeder-posts/${breeder-post.id}/update|}" th:method="POST" th:object="${breeder-post}">
    <label for="post-id">
        <h3>Id</h3>
        <input type="number" name="id" id="post-id" class="field" />
    </label>
    <label for="title"><h3>Title</h3>
        <input type="text" th:field="*{breeder-post.title}" placeholder="Enter a title"  />
    </label>
    <label for="body"><h3>Body</h3>
        <input type="text" th:field="*{breeder-post.description}" placeholder="Enter a description" />
    </label>
    <button type="submit">submit!</button>
</form>
</body>
</html>