<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <title>Viewing Post</title>
</head>
<body class="visitorShow">
<nav th:replace="fragments/navbar.html :: visitor-navbar"></nav>
<header class="container my-5"></header>
    <div class="jumbotron-visitor">
        <div class="container">
        <h1 class="text-center text-light display-1" id="visitor-posts">Breeder Posts</h1>
        </div>
    </div>

<div class="main-container embed-responsive">
    <div class="row">
        <div class="card vh card-body text-center ml-3 mr-3 mb-4" style="width: 18rem;" th:each="breederPost : ${breederPosts2}">
            <img class="card-img-top" th:src="${breederPost.images}" alt="Card image cap">
            <h1 th:text="${breederPost.dogBreed}"></h1>
            <p th:text="${breederPost.dogGroup}"></p>
            <p th:text="${breederPost.dogDescription}"></p>
            <p th:text="${breederPost.dogPrice}"></p>
<!--            <button  class="btn" data-toggle="popover" data-content="Please Sign up or Login for more information">More Info</button>-->
            <br>
        </div>
    </div>
</div>


<div th:replace="fragments/scripts.html :: scripts"></div>
<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>