<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<div>
<nav th:fragment="breeder-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">My Pup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="breeder-navbar" >
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/breeder-posts}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/breeder-posts/create}">Create Post</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" th:href="@{/breeder-profile}">Profile</a>
            </li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 1px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</div>

<div>
    <nav th:fragment="buyer-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">My Pup</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="buyer-navbar">
            <ul class="navbar-nav">
                <li class="nav-item ml-auto">
                    <a class="nav-link" th:href="@{/companion}">Find your perfect companion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/breeder-posts}">Posts</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" th:href="@{/buyer-profile}">Profile</a>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 1px">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <nav th:fragment="visitor-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">My Pup</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="visitor-navbar">
            <ul class="navbar-nav">
<!--                <li class="nav-item ml-auto">-->
<!--                    <a class="nav-link" th:href="@{/companion}">Find your perfect companion</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/breeder-posts}">All Posts</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
<!--                <li class="nav-item ml-auto">-->
<!--                    <a class="nav-link" th:href="@{/profile}">Profile</a>-->
<!--                </li>-->
                <li class="nav-item ml-auto">
                    <a class="nav-link" th:href="@{/sign-up}">Sign-up</a>
                </li>
            </ul>
        </div>
<!--        <div>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <form th:action="@{/logout}" th:method="post">-->
<!--                        <button class="btn-link btn" style="margin-top: 1px">Logout</button>-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </nav>
</div>

<div>
<nav th:fragment="admin-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">My Pup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="admin-navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/breeder-posts}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/breeder-posts/create}">Create Post</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 1px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</div>
</body>
</html>