<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="scripts">


    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--    // Custom JS for Buyer CompanionFinder Survey-->
    <script type="text/javascript" src="../js/companionSearch.js"></script>

    <script>
        function searchFunction() {
            let url = "/search/";
            let pram = document.getElementById('search_bar');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute');
            search_Button.setAttribute("href", final_url);
        }

        function searchFunction1() {
            let url = "/search/";
            let pram = document.getElementById('search_bar1');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute1');
            search_Button.setAttribute("href", final_url);
        }

        function searchFunction2() {
            let url = "/visitor-search/";
            let pram = document.getElementById('search_bar2');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute2');
            search_Button.setAttribute("href", final_url);
        }

        function searchFunction3() {
            let url = "/search/";
            let pram = document.getElementById('search_bar3');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute3');
            search_Button.setAttribute("href", final_url);
        }

        function hearted(x) {
            x.classList.toggle("fas fa-heart")

        }

    </script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>




<!--    // FileStackapi.com and custom and image fileHandling script-->
    <script type="text/javascript" src="../../js/Keys.js"></script>
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script type="text/javascript" src="../../js/fileHandling.js"></script>

</th:block>

</body>
</html>