<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<th:block th:fragment="scripts">


    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--    // Custom JS for Buyer CompanionFinder Survey-->
    <script type="text/javascript" src="../js/companionSearch.js"></script>


    <script>
        function searchFunction() {
            let url = "/search/";
            let pram = document.getElementById('search_bar');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute');
            search_Button.setAttribute("href", final_url);
        }

        function searchFunction1() {
            let url = "/search/";
            let pram = document.getElementById('search_bar1');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute1');
            search_Button.setAttribute("href", final_url);
        }

        function searchFunction2() {
            let url = "/visitor-search/";
            let pram = document.getElementById('search_bar2');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute2');
            search_Button.setAttribute("href", final_url);
        }

        function searchFunction3() {
            let url = "/search/";
            let pram = document.getElementById('search_bar3');
            let final_url = url + pram.value;
            const search_Button = document.getElementById('search_execute3');
            search_Button.setAttribute("href", final_url);
        }

    </script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
    <script>
        $( document ).ready(function() {
            const scaleCurve = mojs.easing.path('M0,100 L25,99.9999983 C26.2328835,75.0708847 19.7847843,0 100,0');
            const el = document.querySelector('.button'),
                // mo.js timeline obj
                timeline = new mojs.Timeline(),

                // tweens for the animation:

                // burst animation
                tween1 = new mojs.Burst({
                    parent: el,
                    radius:   { 0: 100 },
                    angle:    { 0: 45 },
                    y: -10,
                    count:    10,
                    radius:       100,
                    children: {
                        shape:        'circle',
                        radius:       30,
                        fill:         [ 'red', 'white' ],
                        strokeWidth:  15,
                        duration:     500,
                    }
                });


            tween2 = new mojs.Tween({
                duration : 900,
                onUpdate: function(progress) {
                    const scaleProgress = scaleCurve(progress);
                    el.style.WebkitTransform = el.style.transform = 'scale3d(' + scaleProgress + ',' + scaleProgress + ',1)';
                }
            });

            tween3 = new mojs.Burst({
                parent: el,
                radius:   { 0: 100 },
                angle:    { 0: -45 },
                y: -10,
                count:    10,
                radius:       125,
                children: {
                    shape:        'circle',
                    radius:       30,
                    fill:         [ 'white', 'red' ],
                    strokeWidth:  15,
                    duration:     400,
                }
            });

// add tweens to timeline:
            timeline.add(tween1, tween2, tween3);


// when clicking the button start the timeline/animation:
            $( ".button" ).click(function() {
                if ($(this).hasClass('active')){
                    $(this).removeClass('active');
                }else{
                    timeline.play();
                    $(this).addClass('active');
                }
            });


        });
    </script>




<!--    // FileStackapi.com and custom and image fileHandling script-->
    <script type="text/javascript" src="../../js/Keys.js"></script>
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script type="text/javascript" src="../../js/fileHandling.js"></script>

</th:block>

</body>
</html>