<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header.html :: header"></head>
<body>
<div class="wrapper">
    <nav th:replace="fragments/navbar.html :: admin-navbar"></nav>
    <header class="container my-5"></header>
    <div class="jumbotron">
        <h1 class="text-center display-1" id="admin">Admin</h1>
    </div>


    <h1>Welcome admin!</h1>
<form th:action="@{|/admin-profile|}" th:method="POST" th:object="${userRoleAdmin}">
    <button>Delete Post</button>
</form>
</div>
</body>
</html>