<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body class="breeder">
<div>
    <nav th:replace="fragments/navbar.html :: breeder-navbar"></nav>
    <div class="parallax"></div>
    <header class="container my-5"></header>
    <div class="jumbotron-breeder">
        <h1 class="text-center text-light display-1" id="h1-breederProfile">Breeder Profile</h1>
    </div>
    <div class="container">
        <h1 class="text-left text-light" id="h1-index"  th:text="Welcome+' '+ ${userRoleBreeders.getUsername()}"></h1>
        <div class="">
            <div class="card vh card-body text-center ml-3 mr-3 mb-4" style="width: 25rem;" th:each="userRole : ${userRoleBreeders}">
                <img class="card-img-top" th:src="${userRole.profileImage}" alt="Card image cap">
                <a th:href="@{|/breeder-profile|}"><h1 th:text="${userRole.username}"></h1></a>
                <a th:href="${userRole.email}"><span th:text="${userRole.email}"></span></a>
                <br/>
            </div>
            <div class="row">
                <div class="card vh card-body text-center ml-3 mr-3 mb-4" style="width: 18rem;" th:each="breederPost : ${breederPosts}">
                    <img class="card-img-top" th:src="${breederPost.images}" alt="Card image cap">
                    <h1 th:text="${breederPost.dogBreed}"></h1>
                    <p th:text="${breederPost.dogGroup}"></p>
                    <p th:text="${breederPost.dogDescription}"></p>
                    <p th:text="${breederPost.dogPrice}"></p>
                <div class="btn-container">
                    <form th:action="@{|/breeder-profile/${breederPost.id}/delete|}" th:method="POST">
                        <button class="btn" type="button">Delete</button>
                    </form>
                        <br>
                    <a th:href="@{|/breeder-profile/${breederPost.id}/update|}">
                        <button class="btn">Update Post</button>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>


<br>
    <div class="">
<div th:replace="fragments/scripts.html :: scripts"></div>
<footer th:replace="fragments/footer1.html :: footer1"></footer>
    </div>
</div>
</body>
</html>