<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header(title)">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <nav th:replace="fragments/navbar.html :: buyer-navbar"></nav>
    <header class="container my-5"></header>
    <div class="jumbotron">
        <h1 class="text-center display-1">buyer Profile</h1>
    </div>
<main class="container">
<!--    <div class= "card">-->
<!--        <div th:each="breederPost : ${breederPosts}">-->
<!--            <a th:href="@{|/breeder-posts/${breederPost.id}|}"><h1 th:text="${breederPost.dogBreed}"></h1></a>-->
<!--            <p th:text="${breederPost.dogDescription}"></p>-->
<!--            <a th:href="'mailto:'+${breederPost.user.email}"><span th:text="${breederPost.user.email}"></span> </a>-->
<!--            <br>-->
<!--            <a th:href="@{|/breeder-posts/${breederPost.id}/update|}">-->
<!--                <button>Update Post</button>-->
<!--            </a>-->
<!--            <form th:action="@{|/breeder-posts/${breederPost.id}/delete|}" th:method="POST" style="display:inline">-->
<!--                <button>Delete Post</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
</main>
</div>
</body>
</html>