<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="breeder">
    <nav th:replace="fragments/navbar.html :: buyer-navbar"></nav>
    <header class="container my-5"></header>
    <div class="jumbotron">
        <h1 class="text-center text-light display-1">Buyer Profile</h1>
    </div>


    <main class="container">
        <div class="card vh card-body text-center ml-3 mr-3 mb-4" style="width: 18rem;" th:each="userRole : ${userRoleBuyer}">
            <img class="card-img-top" th:src="${userRole.profileImage}" alt="Card image cap">
            <a th:href="@{|/breeder-profile|}"><h1 th:text="${userRole.username}"></h1></a>
            <a th:href="${userRole.email}"><span th:text="${userRole.email}"></span></a>
            <br/>
        </div>

    </main>

</div>


<br>
<br>

<div th:replace="fragments/scripts.html :: scripts"></div>
<div th:replace="fragments/footer1.html :: footer1"></div>

</body>
</html>