<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/breeder-posts/profile" method="post">
    <label for="post-id">
        <p>Name</p>
        <input type="text" name="id" id="post-id" class="field" />
    </label>
    <label for="title-id">
        <p>Email</p>
        <input type="text" name="title" id="title-id" class="field" />
    </label>
    <label for="body">
        <p>Password</p>
        <input type="text" name="body" id="body" class="field" />
    </label>
    <button type="submit">submit!</button>
</form>
