<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header.html :: header"></head>


<body class="sign">
<div class="main-container">
    <nav th:replace="fragments/navbar.html :: visitor-navbar"></nav>
    <header class="container my-5"></header>
    <div class="jumbotron-sign">
        <h1 class="text-left text-light mx-4.5 display-1" id="h1-sign-up">Sign Up</h1>
    </div>

    <div class="card-container mx-5 my-5">
        <div class="card bg-light text-dark col-xl-4">
            <div class="card-body sign-up-form">
                <h5 class="card-title user-Form-Text">User Sign Up</h5>
                <hr>
                <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                    <div class="col-xl-12">
                        <label for="userRole">Select User Role</label>

                        <select th:field="*{userRole}">
                            <option value="breeder">Breeder</option>
                            <option value="buyer">Buyer</option>
<!--                                                        <option value="admin">Admin</option>-->
                        </select>
                    </div>

                    <div class="col-xl-12">
                        <label for="username">Username</label>
                        <input th:field="*{username}"/>
                    </div>

                    <div class="col-xl-12">
                        <label for="password">Password</label>
                        <input type="password" th:field="*{password}"/>
                    </div>

                    <div class="col-xl-12">
                        <label for="email">Email</label>
                        <input th:field="*{email}"/>
                    </div>

                    <div class="col-xl-12">
                        <label for="phoneNumber">Phone No.</label>
                        <input th:field="*{phoneNumber}"/>
                    </div>

                    <div class="col-xl-12">
                        <label for="city">City</label>
                        <input th:field="*{city}"/>
                    </div>

                    <div class="col-xl-12">
                        <label for="state">State</label>
                        <input th:field="*{state}"/>
                    </div>

                    <div class="col-xl-12">
                        <label for="zipcode">Zip Code</label>
                        <input th:field="*{zipcode}"/>
                    </div>


                    <div class="col-xl-12">
                        <button class="button photo-upload upload-photo" type="button" id="picker">Profile Image
                        </button>
                        <input class="move-right" name="fileupload" id="fileupload" th:field="*{profileImage}">
                    </div>

                    <div class="col-xl-12">
                        <input class="loginSign-btn sign-create-btn" value="Sign me up!" type="submit"/>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div th:replace="fragments/scripts.html :: scripts"></div>
    <div th:replace="fragments/footer.html :: footer"></div>
</div>
</body>
</html>