<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header.html :: header('All Post')"></head>



<body>
<div class="wrapper">
    <nav th:replace="fragments/navbar.html :: visitor-navbar"></nav>
    <header class="container my-5">
        <div class="jumbotron">Admin</div>
    </header>


<div class="sign-up">
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="userRole">Select User Role</label>
    <select th:field="*{userRole}">
        <option value="breeder">Breeder</option>
        <option value="buyer">Buyer</option>
        <option value="admin">Admin</option>

    </select>

    <label for="username">Username</label>
    <input th:field="*{username}" />

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" />

    <label for="email">Email</label>
    <input th:field="*{email}"/>

    <label for="phoneNumber">phone number</label>
    <input th:field="*{phoneNumber}" />

    <label for="city">city</label>
    <input th:field="*{city}" />

    <label for="state">state</label>
    <input th:field="*{state}" />

    <label for="zipcode">zipcode</label>
    <input th:field="*{zipcode}" />
    <input value="Sign me up!" type="submit" />
</form>

</div>
</div>
</body>
</html>