<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header.html :: header('All Post')"></head>
<body>
<div class="wrapper">
    <nav th:replace="fragments/navbar.html :: navbar"></nav>
    <header class="container my-5">
        <div class="jumbotron">
            <h1 class="text-center display-1">Posts</h1>
        </div>
    </header>
    <main class="container">
        <th:block th:each="breeder-post : ${breeder-posts}">
            <div>
                <h1 th:text="${dog_post.dog_breed}"></h1>
                <p th:text="${dog_post.dog_description}"></p>
                <p th:text="${dog_post.dog_group}"></p>
                <p th:text="${dog_post.dog_price}"></p>
                <h5 th:text="${dog_post.getUser().getEmail()}"></h5>
                <hr>
            </div>
            <!--    Checks to see if user is logged in-->
            <div sec:authorize="isAuthenticated()">
                <!--        Checks to see if person who created the post is also the person logged in-->
                <button th:if="${dog_post.getUser().id == #authentication.getPrincipal().id}" type="submit"><a th:href="@{'/dog_post/{id}/delete/' + ${dog_post.getId()}}">Delete Post</a></button>
            </div>
        </th:block>
    </main>
</div>
<th: block th:replace="fragments/scripts.html :: scripts"/>




<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>