* {
    font-family: 'Roboto', sans-serif;
}

.body{
    border: lightseagreen 15px solid;
    background-color: lightseagreen;
    /*margin: 10px;*/

}

.jumbotron-index{
    margin-top: 20vh;
    min-height: 35vh;
}

#index{
    border: lightseagreen 15px solid;
    background-image:url("/images/three-big-dogs.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*    background-position: center;*/
/*    !*background: none;*!*/
/*    !*min-height: 33vh;*!*/
/*    height: 100vh;*/
/*    width: 100%;*/

}
#h1-index{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}

#landing-container{
    background-image: url("/images/mypup2.jpg");
    background-size: 1800px;
    height: 100vh;
    background-repeat: no-repeat;
    border: lightseagreen 10px solid;
}

.navbar-brand {
   font-family: 'Pacifico', cursive;
}

.jumbotron-visitor {
    background-image: url("/images/adorable.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 900px;
    min-height: 35vh;
    /*height: auto;*/
    width: 100%;
    position: center;
    z-index: -1;
    /*margin-top: 20vh;*/
}

#visitor-posts{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;


}
.visitor-show{
    border: lightseagreen 10px solid;
}

.landing-text{
    font-size: 20px;
    font-family: Roboto, sans-serif;
}
.card-login{
    margin-left: 500px;
}

.landing{
    background: transparent;
}

.jumbotron-landing {
    /*background-image: url("/images/mypup2.jpg");*/
    background-size: cover;
    background: none;
    min-height: 55vh;
    height: auto;
    width: auto;
    position: center;
    z-index: -1;
    font-family: 'Pacifico', cursive;
    margin-top: 10vh;
}

.jumbotron-show {
    background-image: url("/images/3pups.jpg");
    background-repeat: no-repeat;
    /*background: none;*/
    min-height: 40vh;
    /*height: auto;*/
    width: auto;
    position: center;
    /*z-index: -1;*/
    font-family: 'Pacifico', cursive;
}

.breeder{
    border: lightseagreen 15px solid;
    height: 380vh;

}

.jumbotron-breeder{
    background-image: url("/images/dog-friends.jpg");
    min-height: 40vh;
    background-position: center;
    background-size: 800px;
    background-repeat: no-repeat;

}

#h1-breederProfile{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#h1-create{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}

#create{
    background-image: url("/images/brown-puppy.jpg");
    background-repeat: no-repeat;
    background-size: 1720px;
    background-position: center;
    border: lightseagreen 10px solid;
    /*background: none;*/
    height: 100vh;
    /*height: auto;*/
    width: 100%;
}

.jumbotron-create{
    max-height: 50vh;
    width: 100%;

    margin-top: 100px;
    z-index: 1;
}


.jumbotron-home{
    /*background-image: url("/images/little-pup.jpg");*/
    background-size: 50%;
    background-repeat: no-repeat;
    min-height: 30vh;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}

.jumbotron-sign{
    width: auto;
    font-family: 'Pacifico', cursive;

}

#sign-up{
    text-align: start;
    margin-left: 150px;
}

#signbtn{
    border: black 2px solid;
    background-color: lightseagreen;
    border-radius: 5px;
}

.sign{
    background-image: url("/images/3pups.jpg");
    background-repeat: no-repeat;
    background-size: 1700px;
    background-position: center;
    height: 100%;

}
#about{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}


.login{
    background-repeat: no-repeat;
    background-size: 1800px;
    min-height:100vh;
}

.jumbotron-login{
    max-height: 50vh;
    width: 100%;
    font-family: 'Pacifico', cursive;
    margin-top: 100px;
    z-index: 1;
}
#loginbtn{
    border: black 2px solid;
    background-color: lightseagreen;
    border-radius: 5px;
}

#login{
    text-align: start;
    margin-left: 170px;
    margin-top: 10px;
}

.loginCard{

}

/*#login-card1{*/
/*    z-index: 2;*/
/*    margin-bottom: 100px;*/
/*}*/

#breeder-posts{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}

.transparent-black {
    background-color: rgba(0, 0, 0, .5);
}

.black-highlight {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.card {
    background-color: lightgray;
    border: black 5px solid;
}


#welcome {
    text-align: center;
    color: lightseagreen;
    font-family: 'Pacifico', cursive;
}

#intro {
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#category-container {
    height: 100vh;
}

.btn:hover {
     background-color: lightseagreen;
}

.btn-container{
    border: black 2px  solid;
    margin-top: auto;
}

.btn{
    border: black 2px  solid;
    margin-top: auto;
}

.nav:hover{
    color: lightseagreen;
}

