* {
    font-family: 'Roboto', sans-serif;
}

body {
    border: lightseagreen 1vw solid;
    background-image: url("/images/mypup2.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
}

.landing{
    height: 100vh;
}

.navbar-brand {
   font-family: 'Pacifico', cursive;
}

.jumbotron {
    /*background-image: url("/images/mypup2.jpg");*/
    /*background-size: cover;*/
    /*min-height: 75vh;*/
    height: auto;
    width: auto;
    /*position: center;*/
    /*z-index: -1;*/
    font-family: 'Pacifico', cursive;
}

/*.trant {*/
/*    font-size: 3em;*/
/*    text-align: center;*/
/*    color: darkorange;*/
/*    font-family: 'Pacifico', cursive;*/
/*}*/

.transparent-black {
    background-color: rgba(0, 0, 0, .5);
}

.black-highlight {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.card {
    background-color: lightgray;
    border: black 5px solid;
}


#welcome {
    text-align: center;
    color: lightseagreen;
    font-family: 'Pacifico', cursive;
}

#intro {
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#category-container {
    height: 100vh;
}

.btn:hover {
     background-color: lightseagreen;


}

.btn{
    border: black 2px  solid;
}

.nav-item:hover{
    color: lightseagreen;
}