<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header.html :: header"></head>

<body>
<div th:if="${showUserRoles.getUserRole().equals('breeder')}">
    <nav th:replace="fragments/navbar.html :: breeder-navbar"></nav>
</div>
<div th:if="${showUserRoles.getUserRole().equals('buyer')}">
    <nav th:replace="fragments/navbar.html :: buyer-navbar"></nav>
</div>
<div th:if="${showUserRoles.getUserRole().equals('admin')}">
    <nav th:replace="fragments/navbar.html :: admin-navbar"></nav>
</div><header class="container my-5"></header>
<div class="jumbotron">
    <h1 class="text-center text-light display-1" id="about">Team My Pup</h1>
</div>

<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="images/Dalvin-Cash.jpg" alt="...">
                <div class="vh card-body text-center">
                    <h5 class="card-title">Dalvin Cash!</h5>
                    <a href="#" class=" btn btn-primary">Contact info</a>
                    <a href="#" class=" btn btn-primary">Contact info</a>
                    <a href="#" class=" btn btn-primary">Contact info</a>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="images/John-Santos.jpg" alt="..."/>
                <div class="vh card-body text-center">
                    <h5 class="card-title">John Santos</h5>
                    <a href="#" class=" justify-content-between btn btn-primary"> Contact info</a>
                    <a href="#" class=" justify-content-between btn btn-primary"> Contact info</a>
                    <a href="#" class=" justify-content-between btn btn-primary"> Contact info</a>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="images/Matthew-Murphy.jpg" alt="..."/>
                <div class="card-body text-center">
                    <h5 class="card-title">Matt Murphy</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary"> Contact Info</a>
                    <a href="#" class="btn btn-primary"> Contact Info</a>
                    <a href="#" class="btn btn-primary"> Contact Info</a>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="images/Paris-Tyrus.jpg" alt="..."/>
                <div class="card-body text-center">
                    <h5 class="card-title">Paris Tyus</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Contact info</a>
                    <a href="#" class="btn btn-primary">Contact info</a>
                    <a href="#" class="btn btn-primary">Contact info</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
</body>
</html>