<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header.html :: header"></head>

<body>
<nav th:replace="fragments/navbar.html :: visitor-navbar"></nav>
<header class="container my-5"></header>
<div class="jumbotron">
    <h1 class="text-center display-1" id="home">Welcome to MyPup</h1>
</div>

<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="images/postImages/pixie.jpg" alt="...">
                <div class="vh card-body text-center">
                    <h5 class="card-title">Dalvin Cash!</h5>
                    <a href="#" class=" btn btn-primary">View About Me</a>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="images/mypup2.jpg" alt="..."/>
                <div class="vh card-body text-center">
                    <h5 class="card-title">John Santos</h5>
                    <p class="card-text">Here you will find a few applications that either a partner.</p>
                    <a href="#" class=" justify-content-between btn btn-primary">View Portfolio</a>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="IMG/photo_pixie_5.jpg" alt="..."/>
                <div class="card-body text-center">
                    <h5 class="card-title">Matt Murphy</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">View Contact Info</a>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img class="card-img-top" src="IMG/photo_pixie_5.jpg" alt="..."/>
                <div class="card-body text-center">
                    <h5 class="card-title">Paris Tyus</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Contact info</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
</body>
</html>