<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Companion Finder</title>
</head>

<body>
<nav th:replace="fragments/navbar.html :: buyer-navbar"></nav>
<h1>What Breed Is Best For Me!</h1>
<hr/>


<div class="container">
    <div class="row">
        <!--        =======================================-->
        <!--        Customer Survey Form-->
        <!--        =======================================-->
        <form id="survey" name="survey" th:method="POST" th:action="@{/companion-search}">

            <p class="questions">How many dogs have you currently or have previously owned?</p>
            <input type="radio" class="check" name="question1" value=0> None<br>
            <input type="radio" class="check" name="question1" value=5> Between 1 - 2<br>
            <input type="radio" class="check" name="question1" value=10> 3 or more<br>


            <p class="questions">What type of home do you live in?</p>
            <label for="mc"></label>
            <input type="radio" class="check" name="question2" value=0> An Apartment<br>
            <input type="radio" class="check" name="question2" value=5> House with small yard<br>
            <input type="radio" class="check" name="question2" value=10> House with large yard (Ranch)<br>


            <p class="questions">What’s your activity level?</p>
            <label for="mc"></label>
            <input type="radio" class="check" name="question3" value=0> Like to hang around the house <br>
            <input type="radio" class="check" name="question3" value=5> Enjoy outside activity<br>
            <input type="radio" class="check" name="question3" value=10> Adventure seeking<br>

            <p class="questions">What size dog do you prefer?</p>
            <label for="mc"></label>
            <input type="radio" class="check" name="question4" value=0> Small <br>
            <input type="radio" class="check" name="question4" value=5> Medium<br>
            <input type="radio" class="check" name="question4" value=10> Large<br>

            <p class="questions">Do you have young children (under age 10)?</p>
            <input type="radio" class="check" name="question5" value=5> Yes<br>
            <input type="radio" class="check" name="question5" value=0> No<br>


            <p class="questions">What is your noise tolerance for barking (noise)?</p>
            <input type="radio" class="check" name="question6" value=0> Light <br>
            <input type="radio" class="check" name="question6" value=5> Medium<br>
            <input type="radio" class="check" name="question6" value=10> Strong<br>

            <p class="questions">What is your tolerance for shedding?</p>
            <input type="radio" class="check" name="question7" value=0> Light <br>
            <input type="radio" class="check" name="question7" value=5> Medium<br>
            <input type="radio" class="check" name="question7" value=10> Strong<br>

            <br>
            <input type="button" name="resultButton" id="totalSum" onclick="handleClick();" value="Get Result">
            <br>
            <br>

        </form>

        <div id="after_submit-0">
            <div id="survey-out">
                <h3 id="after_submit-1" style="visibility: hidden">Suggested Dog Breed and Group</h3>
                <hr id="after_submit-2" style="visibility: hidden"/>
                <p id="dog-breed"></p>
                <hr id="after_submit-3" style="visibility: hidden"/>

            </div>
        </div>
    </div>


</div>

<div class="container">
    <div class="row">


        <!-- =========================================-->
        <!--    Dog API Search-->
        <!-- =========================================   -->
        <div class="row" id="dogSearchForm">

            <div id="banner-message">
                <p>Select a Breed</p>
                <select class="breed_select">
                    <option></option>
                </select>

            </div>
            <div id="breed_data">
                <img id="breed_image" src=""/>
                <p>
                    Breed Data
                </p>
                <table id="breed_data_table">

                </table>
            </div>

        </div>
    </div>
</div>


<!--Custom Javascript -->
<!--<script type="text/javascript" src="../js/companionSearch.js"></script>-->
<div th:replace="fragments/scripts.html :: scripts"></div>

</body>
</html>

