<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <title>Landing page</title>
</head>
<body>
<div>
<div class="wrapper" id="landing">
    <nav th:replace="fragments/navbar.html :: visitor-navbar"></nav>
    <header class="container my-5"></header>
    <div class="jumbotron">
        <h1 class="text-center display-1">Welcome to MyPup</h1>
    </div>

    <div>
        <button class="landing align-center display-1">Enter</button>
    </div>
</div>
</div>
<div th:replace="fragments/scripts.html :: scripts"></div>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>