<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <title>Landing page</title>
</head>
<body id="landing-container">
<div class="main-container">
    <nav th:replace="fragments/visitor-navbar.html :: visitor-navbar"></nav>
    <header class="container my-5"></header>
    <div class="jumbotron-landing" id="transparent-black">
        <h1 class="text-left text-light display-1">Welcome to MyPup</h1>


<!--    <div>-->
<!--        <button class="landing align-center display-1">Enter</button>-->
<!--    </div>-->
</div>
</div>

<div th:replace="fragments/scripts.html :: scripts"></div>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>