<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="UTF-8">
    <title>Landing page</title>
</head>
<body id="landing-container">
<div class="main-container">
    <nav th:replace="fragments/navbar.html :: visitor-navbar"></nav>
    <header class="container my-5"></header>
    <div class="jumbotron-landing" id="transparent-black">
        <h1 class="text-left text-light display-1">Welcome to MyPup</h1>
        <br>
        <br>
    <div class="card mx-4.5 mx-5 my-5 card-login" style="width: 50rem;">
        <div class="card-body  landing">
            <p class="landing-text text-light">
                Mypup is a platform created to connect people with trusted dog breeders to extend their families;
                taking the hassle out of finding the perfect, happy and healthy companions.  Through carefully crafted inquires, people will be able to find companions that best fit their lifestyle.
                Breeder's profiles will have the capability to update bio information, types of breeds,
                photos, and listings of companions for purchase.
            </p>
        </div>
    </div>
    </div>





<div th:replace="fragments/scripts.html :: scripts"></div>
<div th:replace="fragments/footer.html :: footer"></div>
</div>
</body>
</html>